[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.3"
flake8-builtins = "==1.5.3"
flake8-blind-except = "==0.1.1"
flake8-logging-format = "==0.6.0"
flake8-bugbear = "==20.1.4"
flake8-annotations = "==2.4.0"
flake8-docstrings = "==1.5.0"
darglint = "==1.5.4"
pytest = "==6.1.0"
pytest-cov = "==2.10.1"
responses = "==0.12.0"
pre-commit = "==2.4.0"
isort = "==4.3.21"
yapf = "==0.30.0"
pytest-mock = "==3.3.1"
xdoctest = {extras = ["all"],version = "==0.15.0"}
recommonmark = "==0.6.0"
mypy = "==0.782"
