repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.0.0
    hooks:
      - id: check-toml
        exclude: "^{{cookiecutter.project_slug}}/"
      - id: check-yaml
        exclude: "^{{cookiecutter.project_slug}}/"
      - id: debug-statements
        exclude: "^{{cookiecutter.project_slug}}/"
      - id: check-merge-conflict
      - id: check-json
        exclude: "^{{cookiecutter.project_slug}}/"
-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
      - id: isort
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        exclude: "^{{cookiecutter.project_slug}}/"
-   repo: local
    hooks:
      - id: flakehell
        name: flakehell
        description: "`Flakehell` it's a Flake8 wrapper to make it cools."
        entry: flakehell
        args: [lint]
        language: python
        types: [python]
        require_serial: true
        additional_dependencies: [
          'flake8>=3.7.9',
          'flakehell>=0.6.1',
          'flake8-builtins>=1.5.3',
          'flake8-blind-except>=0.1.1',
          'flake8-logging-format>=0.6.0',
          'flake8-bugbear>=20.1.4',
          'flake8-annotations>=2.1.0',
          'flake8-docstrings>=1.5.0',
          'darglint>=1.3.0'
        ]
        exclude: "^{{cookiecutter.project_slug}}/"
