repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.0.0
    hooks:
      - id: check-toml
        exclude: "^{{cookiecutter.project_name}}/"
      - id: check-yaml
        exclude: "^{{cookiecutter.project_name}}/"
      - id: debug-statements
        exclude: "^{{cookiecutter.project_name}}/"
      - id: check-merge-conflict
      - id: check-json
        exclude: "^{{cookiecutter.project_name}}/"
      - id: end-of-file-fixer
-   repo: https://github.com/timothycrosley/isort
    rev: 5.7.0
    hooks:
      - id: isort
        exclude: "^{{cookiecutter.project_name}}/"
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        exclude: "^{{cookiecutter.project_name}}/"
-   repo: local
    hooks:
      - id: flakehell
        name: flakehell
        description: "`Flakehell` it's a Flake8 wrapper to make it cools."
        entry: flakehell
        args: [lint]
        language: python
        types: [python]
        require_serial: true
        additional_dependencies: [
          'flake8>=3.8.4',
          'flakehell>=0.9.0',
          'flake8-builtins>=1.5.3',
          'flake8-blind-except>=0.2.0',
          'flake8-logging-format>=0.6.0',
          'flake8-bugbear>=21.3.1',
          'flake8-annotations>=2.6.0',
          'flake8-docstrings>=1.5.0',
          'flake8-bandit>=2.1.2',
          'darglint>=1.7.0'
        ]
        exclude: "^{{cookiecutter.project_name}}/"
